project:
  type: website
  output-dir: docs

website:
  title: "Welcome to my website"
  navbar:
    left:
      - href: index.qmd
      - href: about.qmd
      - href: tidymodels.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

